/*
   Base (Resets, Basic elements)
   ========================================================================== */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img,
iframe {
  max-width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
}

a {
  color: $link-color;
  @include transition(all .15s ease-in-out);
  &:hover {
    color: darken($link-color, 15%);
  }
}

// Typography
body {
	font-size: $base-font-size;
  font-family: $base-font-family;
  color: $base-font-color;
  @include media(max-width $small-screen) {
    font-size: $base-font-size - 3;
  }
  @include media(max-width $mobile) {
    font-size: $base-font-size - 9;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $semibold;
  margin: .5em 0;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -.02em;
}

h2 {
  font-size: 2em;
  color: $black;
}

h3 {
  font-size: 1.25em;
  color: $gray;
  font-style: italic;
  @include media(max-width $mobile) {
    font-size: 1.4em;
  }
}

h4 {
  font-weight: $extrabold;
  font-family: $base-font-family;
  font-size: 1.1em;
}

strong {
  font-weight: $semibold;
}

em {
  font-style: italic;
  font-size: 1.1em;
}

p {
  color: $gray;
  @include media(max-width $mobile) {
    font-size: 1.1em;
  }
}

.text-center {
  text-align: center;
}
