/*
   Morrow LP
   ========================================================================== */
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*
   Base (Resets, Basic elements)
   ========================================================================== */
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

img, iframe {
  max-width: 100%; }

* {
  -webkit-font-smoothing: antialiased; }

a {
  color: #222222;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  a:hover {
    color: black; }

body {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  color: #222222; }
  @media screen and (max-width: 945px)  {
    body {
      font-size: 15px; } }
  @media screen and (max-width: 500px)  {
    body {
      font-size: 9px; } }

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin: .5em 0;
  line-height: 1; }

h1 {
  font-size: 3em;
  letter-spacing: -.02em; }

h2 {
  font-size: 2em;
  color: #363636; }

h3 {
  font-size: 1.25em;
  color: #7d7d7d;
  font-style: italic; }
  @media screen and (max-width: 500px)  {
    h3 {
      font-size: 1.4em; } }

h4 {
  font-weight: 800;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1em; }

strong {
  font-weight: 600; }

em {
  font-style: italic;
  font-size: 1.1em; }

p {
  color: #7d7d7d; }
  @media screen and (max-width: 500px)  {
    p {
      font-size: 1.1em; } }

.text-center {
  text-align: center; }

/*
   Layout (Grid, Reusable layotus)
   ========================================================================== */
.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  .container.mobile-full {
    padding-left: 0;
    padding-right: 0; }
    .container.mobile-full .mobile-padded {
      padding-left: 15px;
      padding-right: 15px; }
    .container.mobile-full img {
      width: 100%; }

.hero {
  margin-top: 3em;
  font-size: 28px;
  text-align: center; }

